<%- include('partials/header.ejs'); -%>

	<% if (locals.book) { %>
	<form action="/editBook" method="post" id="editBook" autocomplete="off" >
		<div style="width: 300px;">
			<!-- <label> id </label> -->
			<input type="hidden" name=id value="<%= book.id %>" />
		</div>

		<div style="width: 300px;">
			<label> Title </label>
			<input type="text" name=title value="<%= book.title %>" />
		</div>

		<div style="width: 300px;">
			<label> Author </label>
			<input type="text" name="author" value="<%= book.author  %>" />
		</div>

		<div style="width: 200px;">
			<label> ISBN </label>
			<input type="text" name="isbn" value="<%= book.isbn %>"/>
		</div>

		<div style="width: 100px;">
			<label> Rating </label>
			<input type="number" name="rating" value="<%= book.rating %>" />
		</div>

		<div style="width: 200px;">
			<label> Last read </label>
			<input type="date" name="last_read" value="<%= book.last_read %>" />
		</div>

		<div style="width: 500px;">
			<label> Notes </label>
			<input type="text" name="notes" value="<%= book.notes %>" />
		</div>

		<div style="width: 60px;">
			<input type="submit" name="Submit" />
		</div>

	</form>
	<% } else { %>
		<p> Something went wrong. </p> 
	<% } %>



<%- include('partials/footer.ejs'); -%>